#portfolio{
    background: var(--bg-secondary);
    background-image: url('../../assets/watercolor.png');
    background-repeat: no-repeat;
    background-size: 100% 200px;
    background-position: cover;
}

#portfolio .portifolio__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

#portfolio .section__header .title {
    font-weight: bold;
    font-size: 24px;
}


#portfolio .portifolio{
    -webkit-backdrop-filter: blur(70px);
    backdrop-filter: blur(70px);
    border-radius: var(--radius-3);
    overflow: hidden;
}

#portfolio .portifolio .image__container{
    width: 120px;
    height: 120px;
    border-radius: var(--radius-3);
    overflow: hidden;
}

#portfolio .portifolio .details{
    flex: 1;
    padding: 10px;
}

#portfolio .portifolio .title{
    font-size: 14px;
}

#portfolio .portifolio .description{
    font-size: var(--font-size-small);
}

#portfolio .portifolio .date__category{
    align-items: center;
    font-size: 13px;
    margin-top: 10px;
}

#portfolio .portifolio .date__category .date{
    background: linear-gradient(to bottom right, #6a11cb, var(--primary));
    padding: 0 5px;
    font-size: 10px;
    border-radius: var(--radius-3);
    color: var(--color-white)
}

/* media responsiveness */
@media (max-width: 1220px){
    #portfolio .portifolio{
        flex-direction: column;
    }
    #portfolio .portifolio .image__container{
        width: 100%;
        height: 200px;
    }
}

@media (max-width: 500px){
    #portifolio .portifolio__container{
        grid-template-columns: 100%;
    }
}